<% layout('/layouts/boilerplate') %>
<body>
    <!-- <form method="post" action="/11/science/<%= book._id %>?_method=PUT">
        <input type="text" name="book[title]" value="<%= book.title %>">
        <br><br> 
        <textarea name="book[description]" value="<%= book.description %>" rows="10" cols="40"></textarea>
        <br><br>          
        <input type="text" name="book[image]" value="<%= book.image %>">
        <br><br>
        <input type="number" name="book[price]" value="<%= book.price %>">
        <br><br>
        <input type="text" name="book[author]" value="<%= book.author %>">
        <br><br>
        <input type="text" name="book[category]" value="<%= book.category %>">
        <br><br>

        <button type="submit">Save</button>
    </form> -->
    <div class="new_form" style="padding: 2rem;"></div>
        <form class="row g-3 justify-content-center needs-validation" novalidate action="/11/science/<%= book._id %>?_method=PUT" method="post">
            <div class="field">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="book[title]" placeholder="Enter title of the book" value="<%= book.title %>" required>
              <div class="valid-feedback">Title Looks Good!</div>
              <div class="invalid-feedback">Enter Valid Title!</div>
            </div>
            <div class="field">
                <label for="description" class="form-label">Description</label>
                <br>
                <textarea name="book[description]" id="description" style="height: 5rem; width: 59rem; border-radius: 0.5rem; border: #dee2e6 solid 1px;" placeholder="Add some description about the book" value="<%= book.description %>"></textarea>
                <!-- <div class="valid-feedback">Title Looks Good!</div> -->
                <div class="invalid-feedback">Enter Valid Title!</div>
            </div>
            <div class="field">
                <label for="coverimage" class="form-label">Cover Image</label>
                <input type="text" class="form-control" id="coverimage" name="book[coverimage]" placeholder="Enter cover image url of the book" value="<%= book.coverimage %>" required>
                <div class="valid-feedback">Title Looks Good!</div>
                <div class="invalid-feedback">Enter Valid Title!</div>
            </div>
            <div class="field">
                <label for="indeximage" class="form-label">Index Image</label>
                <input type="text" class="form-control" id="indeximage" name="book[indeximage]" placeholder="Enter index image url of the book" value="<%= book.indeximage %>" required>
                <div class="valid-feedback">Title Looks Good!</div>
                <div class="invalid-feedback">Enter Valid Title!</div>
            </div>
            <div class="field">
                <label for="insideimage" class="form-label">Inside Image</label>
                <input type="text" class="form-control" id="insideimage" name="book[insideimage]" placeholder="Enter inside image url of the book" value="<%= book.insideimage %>" required>
                <div class="valid-feedback">Title Looks Good!</div>
                <div class="invalid-feedback">Enter Valid Title!</div>
            </div>
            <div class="field">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control" id="price" name="book[price]" placeholder="Enter the price of the book" value="<%= book.price %>" required>
                <div class="valid-feedback">Title Looks Good!</div>
                <div class="invalid-feedback">Enter Valid Title!</div>
            </div>
            <div class="field">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" id="author" name="book[author]" placeholder="Enter author's name of the book" value="<%= book.author %>">
                <!-- <div class="valid-feedback">Title Looks Good!</div> -->
                <div class="invalid-feedback">Enter Valid Title!</div>
            </div>
            <div class="field">
                <label for="category" class="form-label">Category</label>
                <select class="form-select" aria-label="category select" name="category" required>
                    <div class="valid-feedback">Title Looks Good!</div>
              <div class="invalid-feedback">Enter Valid Title!</div>
                    <option selected>Choose category</option>
                    <option value="class11sci">Class 11 Science</option>
                    <option value="class11arts">Class 11 Arts</option>
                    <option value="class11com">Class 11 Commerce</option>
                    <option value="class12sci">Class 12 Science</option>
                    <option value="class12com">Class 12 Commerce</option>
                    <option value="class12arts">Class 12 Arts</option>
                    <option value="upsc">UPSC</option>
                </select>
            </div>
            <div class="form_btn" style="margin-left: 32rem;">
              <button type="submit" class="btn btn-primary">Update Book</button>
            </div>
        </form>
    </div>
</body>