<% layout("/layouts/boilerplate") %>
<body>
    <div class="book_details">
        <img src="<%= book.coverimage %>" alt="ggh" style="height: 40rem; width: 40rem;">
        <img src="<%= book.indeximage %>" alt="ggh" style="height: 40rem; width: 40rem;">
        <img src="<%= book.insideimage %>" alt="ggh" style="height: 40rem; width: 40rem;">
        <h2><%= book.title %></h2>
        <h4><%= book.author %></h4>
        <p><%= book.description %></p>
        <p><%= book.price.toLocaleString("en-IN") %></p>   <!-- here $#8377 can be used for using rupees sign and toLocaleString("en-IN") is used for getting commas in price as per Indian system-->
        <p><%= book.category %></p>
        <a href="/11/science/<%= book._id %>/edit">Update</a>
        <form action="/11/science/<%= book._id %>?_method=DELETE" method="post">
            <button type="submit">Delete</button>
        </form>
    </div>
</body>